<div class="row">
    <div class="col-lg-8 col-12">
        <div class="post">
            <div class="post__thumbnail">
                <img src={{post.thumbnail}} alt="">
            </div>
            <a href="/category/travel" class="post__category">
                {{post.category}}
            </a>
            <h5 class="post__title fs-3 mb-4">
                {{post.title}}
            </h5>
            <div class="post__info mb-4">
                <a href="/author/post" class="post__author">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/face-1659511-1410033.png" alt="Avatar">
                    <span>{{post.author}}</span>
                </a>
                <i class="fa-solid fa-circle"></i>
                <p class="post__createdAt">
                    January 15, 2021
                </p>
            </div>
            <div class="post__content">
                {{{post.content}}}
            </div>
            <div class="post__footer">
                <div class="post__hashtags">
                    {{#each post.hashtag}}
                    <a href="/hashtag/{{this}}">{{this}}</a>
                    {{/each }}
                </div>
                <div class="post__social">
                    <button style="background: #3b5998"><i class="fa-brands fa-facebook-f"></i></button>
                    <button style="background: #c32aa3"><i class="fa-brands fa-instagram"></i></button>
                    <button style="background: #1dcaff"><i class="fa-brands fa-twitter"></i></button>
                    <button style="background: #e52d27"><i class="fa-brands fa-youtube"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="card__custom">
            <h5 class="card__custom__title mb-3">Latest Posts</h5>
            <ul>
                <li class="small-blog__item">
                    <a href="/post/example" class="small-blog__thumbnail">
                        <img src="https://noonpost.netlify.app/html/template/assets/img/latest/1.jpg" alt="">
                    </a>
                    <div>
                        <h5 class="small-blog__title">
                            <a href="">5 Things I Wish I Knew Before Traveling to Malaysia</a>
                        </h5>
                        <p class="small-blog__createdAt">
                            <i class="fa-solid fa-clock"></i>
                            <span> January 15, 2021 </span>
                        </p>
                    </div>
                </li>
                <li class="small-blog__item">
                    <div class="small-blog__thumbnail">
                        <img src="https://noonpost.netlify.app/html/template/assets/img/latest/1.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="small-blog__title">
                            <a href="">5 Things I Wish I Knew Before Traveling to Malaysia</a>
                        </h5>
                        <p class="small-blog__createdAt">
                            <i class="fa-solid fa-clock"></i>
                            <span> January 15, 2021 </span>
                        </p>
                    </div>
                </li>
                <li class="small-blog__item">
                    <div class="small-blog__thumbnail">
                        <img src="https://noonpost.netlify.app/html/template/assets/img/latest/1.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="small-blog__title">
                            <a href="">5 Things I Wish I Knew Before Traveling to Malaysia</a>
                        </h5>
                        <p class="small-blog__createdAt">
                            <i class="fa-solid fa-clock"></i>
                            <span> January 15, 2021 </span>
                        </p>
                    </div>
                </li>
                <li class="small-blog__item">
                    <div class="small-blog__thumbnail">
                        <img src="https://noonpost.netlify.app/html/template/assets/img/latest/1.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="small-blog__title">
                            <a href="">5 Things I Wish I Knew Before Traveling to Malaysia</a>
                        </h5>
                        <p class="small-blog__createdAt">
                            <i class="fa-solid fa-clock"></i>
                            <span> January 15, 2021 </span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card__custom">
            <h5 class="card__custom__title mb-3">Category</h5>
            <ul>
                {{#each categories}}
                <li class="category__item">
                    <a href="/category/{{this.name}}">{{this.name}}</a>
                    <span>{{this.amount}} posts</span>
                </li>
                {{/each }}
            </ul>
        </div>
    </div>
</div>