<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card__custom">
            <form action="/post/update/{{post._id}}?_method=PUT" method="POST">
                <div class="d-flex justify-content-between align-items-center mb-5">
                    <h5 class="card__custom__title m-0">Update a post</h5>
                </div>
                <div class="row g-4 mb-3">
                    <div class="col-12 col-lg-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatTitle" name="title"
                                placeholder="Whatever you want to write..." value="{{post.title}}">
                            <label for="floatTitle">Title</label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatHashtags" name="hashtag" autocomplete="off"
                                placeholder="Whatever you want to write..." value="{{convertHashtag post.hashtag}}">
                            <label for="floatHashtags">Hashtags</label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <select class="form-select h-100" aria-label="Category select" name="category">
                            <option>Select category</option>
                            {{#each categories}}
                            <option selected="{{findSelected ../post.category this.slug }}" value={{this.slug}}>
                                {{this.name}}
                            </option>
                            {{/each }}
                        </select>
                    </div>
                </div>
                <textarea id="content" name="content" rows="10" cols="120" placeholder="Write whatever you want...">
                    {{{post.content}}}
                </textarea>
                <hr class="my-4">
                <p>If you want to update this post, you can save it here !</p>
                <button id="submit" type="submit" class="form__button-submit mt-3">Save it!</button>
            </form>
        </div>
    </div>

</div>

<script src="/js/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('content');
</script>