<div class="grid">
    {{#each posts}}
    <div class="item">
        <div class="post">
            <a href="/post/{{this.slug}}" class="post__thumbnail">
                <img src={{this.thumbnail}} alt="">
            </a>
            <a href="/category/travel" class="post__category">
                {{this.category}}
            </a>
            <h5 class="post__title">
                <a href="/post/{{this.slug}}">
                    {{this.title}}
                </a>
            </h5>
            <p class="post__subtitle">
                {{!-- {{{this.content}}} --}}
                Q: So first, can you tell us a bit about how you make the case for diversity in your organization – What
                do you think are the
            </p>
            <div class="post__info">
                <a href="/author/{{this.slugAuthor}}" class="post__author">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/face-1659511-1410033.png" alt="Avatar">
                    <span>{{this.author}}</span>
                </a>
                <i class="fa-solid fa-circle"></i>
                <p class="post__createdAt">
                    {{convertDate this.createdAt}}
                </p>
            </div>
        </div>
    </div>
    {{/each }}
</div>
<script src="https://unpkg.com/magic-grid/dist/magic-grid.min.js"></script>

<script>
    let magicGrid = new MagicGrid({
        container: '.grid',
        gutter: 30,
        animate: true,
        static: true,
    });

    magicGrid.listen();
</script>