<div class="grid">
    {{#each posts}}
    <div class="item">
        <div class="post">
            <a href="/post/{{this.slug}}" class="post__thumbnail">
                <img src={{this.thumbnail}} alt="" onerror="errorCallback(this)">
            </a>
            <a href="/category/{{this.category}}" class="post__category">
                {{this.category}}
            </a>
            <h5 class="post__title">
                <a href="/post/{{this.slug}}">
                    {{this.title}}
                </a>
            </h5>
            <div class="post__info">
                <a href="/author/{{this.slugAuthor}}" class="post__author">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/face-1659511-1410033.png" alt="Avatar">
                    <span>{{this.author}}</span>
                </a>
                <i class="fa-solid fa-circle"></i>
                <p class="post__createdAt">
                    {{convertDate this.createdAt}}
                </p>
            </div>
        </div>
    </div>
    {{else}}
    <div class="empty-message">
        <img src="https://cdn.dribbble.com/users/2416626/screenshots/6438641/2x.png?compress=1&resize=400x300" alt="">
        <h5> There are no posts on this page.</h5>
    </div>
    {{/each }}
</div>